.topForm {
	min-height: 20%;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	font-size: x-large;
}
.SocketsContainer,
.RequirementsContainer,
.DesiredColorsContainer {
	display: flex;
	align-items: center;
	gap: 1rem;
	> input {
		width: 3.5rem;
		height: 2rem;
		text-align: center;
		border: 1px solid black;
		border-radius: 5px;
	}
	> h3 {
		min-width: 10rem;
	}
}

.requirementsRED {
	background-color: #554444;
}
.requirementsGREEN {
	background-color: #445544;
}
.requirementsBLUE {
	background-color: #444455;
}
